//bg colors
$navbar-bg-color: hsl(0, 0%, 20%);
$navbar-hover-bg-color: hsl(0, 0%, 30%);

$header-bg-color: hsl(187, 60%, 40%);

$dark-bg-color: hsl(0, 0%, 10%);
$semi-dark-bg-color: hsl(260, 20%, 15%);

$quote-btn-bg-color: hsl(335, 60%, 45%);
$quote-btn-hover-bg-color: hsl(340, 70%, 65%);

$image-btn-bg-color: hsl(270, 70%, 35%);
$image-btn-hover-bg-color: hsl(270, 80%, 65%);

//font colors
$primary-font-color: hsl(0, 10%, 83%);
$secondary-font-color: hsla(0, 5%, 85%, 0.65);

$h1-font-color: hsl(0, 10%, 96%);
$h2-font-color: hsl(180, 60%, 40%);

$quote-carousel-font-color: hsl(270, 10%, 60%);

//font size
$navbar-hamburger-heading-xs: 1rem;
$navbar-hamburger-heading-s: 1.5rem;

$primary-font-size-l: 4rem;
$secondary-font-size-l: 2rem;

$primary-font-size-md: 3.5rem;
$secondary-font-size-md: 1.5rem;

$primary-font-size-s: 2.23rem;
$secondary-font-size-s: 1.2rem;

$primary-font-size-xs: 1.2rem;
$secondary-font-size-xs: 0.8rem;

$h2-default-font-size: 1.3rem;
$tertiary-font-size-xs: 0.6rem;
$mat-icons-xs: 1.5rem;

$paragraph-font-size-xs: 13px;

// line heights
$paragraph-line-height-xs: 2;
